
main, section {
    margin: 50px 0;
    padding: 50px 30px !important;
}

.wrapper {
    padding: 0 30px;
}

.container {
    max-width: 800px;
    margin-top: 30px;
}

.container-lg {
    max-width: 1000px;
    padding: 50px 30px;
}

.carousel-caption {
    color: white;
    background-color: rgb(200, 200, 200);
    opacity: 0.6;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(200, 200, 200);
}

.portfolio {
    width: 200px;
}

.portfolio-container {
    flex-wrap: wrap;
}

@media (min-width: 641px) {
    .portfolio-container {
        flex-wrap: nowrap;
    }
}
